# Ignore everything
*

# But not Java files...
!.gitignore
!*.java

# And CI
!.travis.yml
!build.gradle.kts
!gradlew
!LICENSE
!README.md
!settings.gradle
!LOADTEST.md
!*.sh

# ...even if they are in subdirectories
!*/
